*{
    margin: 0;
}

body{
    background-color: red;
    font-family:monospace;
}

nav ul{
    list-style-type: none;
    padding-right: 50px;
    padding-left: 0;
}

nav{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    transition: 0.1s all;
}

.simple a{
    color: gold;
    background-color: rgb(2, 2, 2);
    padding: 5px;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.color-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid white;
}

.code{
    margin-left: 76px;
}

button{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: transparent;
    font-weight: 600;
    border: solid white;
}

button:hover{
    background-color: gold;
}
